/* General styling */
.navbar {
    border-radius: 0px;
}

.nav-link {
    font-size: 18px;
}

.navbar-brand {
    height: 50px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    color: #403D3D;
}

h5 { /* Instructional text */
    color: rgba(182, 80, 95, 0.719);
}

strong {
    font-size: 20px;
}

a {
    color: #80797A;
}

a:hover {
    color: rgba(182, 80, 95, 0.719);
    text-decoration: none;
}

input[type="submit"] {
    font-size: 20px;
    width: auto;
    height: auto;
}

input[type="submit"]:hover {
    background: #403D3D;
    color: white;
}

input[type="text"], input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    width: 200px;
}

select {
    background: transparent;
    width: 120px;
    border: none;
}

/* Landing and Register page */
.home-icon {
    color: white;
}

.login-text, .reg-text {
    font-size: 22px;
    font-weight: 10;
}

.login-text input[type="submit"], .reg-text input[type="submit"] {
    width: 260px;
    height: 35px;
}

.greeting {
    display: flex;
    font-size: 40px;
    font-weight: 100;
    justify-content: center;
    color: #403D3D;
}

.subgreet {
    font-weight: 100;
}

#home-img, #register-img {
    background-image: url(/static/img/adrian-korte-5gn2soeAc40-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white; /* Fallback if background image fails */
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
}

/* Playlists page */
#c-5th {
    background-image: url(/static/img/C-major.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white; /* Fallback if background image fails */
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.pl-name {
    font-size: 18px;
}

.track-features {
    font-size: 25px;
    font-weight: 100;
}

#qualify-tracks {
    font-size: 20px;
    width: 250px;
    height: 38px;
}

/* Playlist modal */
.tracks-btn {
    color: #80797A;
    background: white;
    border: none;
}

.tracks-btn:hover {
    color: rgba(182, 80, 95, 0.719);
    background: white;
}

.tracks-btn:focus {
    outline: none;  /* Rid blue outline around button */
}

/* New Playlist page */
#new-pl-name {
    border-bottom: 1px solid;
}

.deselect {
    border: 0px;
}

/* Track-features page */
.track-details {
    color: #80797A;
    font-size: 22px;
    text-align: left;
    padding: 5px;
    font-weight: 100;
}