{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div id="home-img"></div>
    <div class="container">
        <div class="row">
            <!-- User is logged in -->
            {% if session.get("user_id") != None %}
                <div class="col-12" align="center">
                    <br><br><br><br><br><br><br><br>
                    <span class="greeting">Welcome back, {{ session["user_id"].capitalize() }}!</span>
                    <br>
                    <h3 class="subgreet">Let's sift through your musical life</h3>
                    <br><br><br><br>
                </div>
                <div class="col-12" align="center">
                    <div style="font-size: 0.8rem;">
                        <div class="row">
                            <div class="col-4">
                                <a href="/playlists"><i class="home-icon fas fa-heartbeat fa-10x"></i></a>
                            </div>
                            <div class="col-4">
                                <a href="/playlists"><i class="home-icon far fa-meh-blank fa-10x"></i></a>
                            </div>
                            <div class="col-4">
                                <a href="/playlists"><i class="home-icon fas fa-key fa-10x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- User is not logged in -->
            {% else %}
                <div class="col-12" id="login" align="center">
                    <br><br><br><br><br><br><br><br>
                    <span class="greeting">Welcome to SpotySift</span><br>
                    <!-- Login form -->
                    <div class="col-12 login-text" align="center">
                        <h3 class="subgreet">Please sign in or register:</h3><br>
                    </div>
                    <div class="col-12 login-text" align="center">
                        <form action="/login" method="POST">
                            <input type='text' name='user_id' placeholder='Username'/><br><br>
                            <input type='password' name='password' placeholder='Password'/><br><br>
                            <input type='submit' value='Login'>
                        </form>
                    </div>
                    <!-- Button to go to register page -->
                    <div class="col-12 login-text" align="center">
                        <form action='/register'>
                            <input type='submit' value='Register'>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}