{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <h1>Spotify Sort</h1>
    <form action="/" method="POST">
        <div>
            {% if logged_in %}
                <a href="/logout" id="logout">Logout</a><br>
                <a href="/playlists" id="playlists">Playlists</a><br>
                <a href="/tracks" id="tracks">Tracks</a>
            {% else %}
                <a href="/login" id="login">Login</a><br>
                <a href="/register" id="register">Register</a>
            {% endif %}
        </div>
    </form> 
{% endblock %}