{% extends 'base.html' %}
{% block title %}New Playlist{% endblock %}
{% block content %}
    <form action="add-playlist" method="POST">
        <h1 id="new-pl-name"
            name="pl_name"
            contenteditable="true">New Playlist</h1>

        {% for track in tracks %}
            <div class="add-track-div"
                 id="deselect-{{ track.track_id }}-div"
                 value="{{ track.track_id }}">
                <button type="button"
                        class="deselect"
                        id="deselect-{{ track.track_id }}"
                        value="{{ track.track_id }}">
                        X</button>
                <a href="/tracks/{{ track.track_id }}"
                   class="add-track"
                   id="track-href-{{ track.track_id }}"
                   name="track"
                   value="{{ track.track_id }}">
                {{ track.track_name }}</a>
            </div>
        {% endfor %}

        <input type="submit" id="create-pl" value="Create Playlist">
    </form>
{% endblock %}