{% extends 'base.html' %}
{% block title %}New Playlist{% endblock %}
{% block content %}
    <form action="add-playlist" method="POST">
        <h1 name="pl_name" value="New Playlist">New Playlist</h1>
        {% for track in tracks %}
            <button type="button" class="deselect" id="deselect-{{ track.track_id }}"value="{{ track.track_id }}">X</button>
            <a href="/tracks/{{ track.track_id }}" id="track-href-{{ track.track_id }}">{{ track.track_name }}</a>
            <br>
        {% endfor %}

        <input type="submit" value="Confirm Playlist">
    </form>
{% endblock %}