{% extends 'base.html' %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>Playlists</h1>
            </div>
        </div>

        <form action="/sort-playlists" method="GET">
            <div class="form-group row">

                <!-- Display all playlists -->
                <div class="col-4">
                    {% for playlist in playlists %}
                        <input type="checkbox" class="playlist" value="{{ playlist.playlist_id }}" name="playlist">
                            <button type="button" class="tracks-btn" data-toggle="modal" data-target="#exampleModalLong" value="{{ playlist.playlist_id }}">
                                {{ playlist.pl_name }}
                            </button>
                        </input>

                        <div class="modal fade" id="exampleModalLong-{{ playlist.playlist_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle-{{ playlist.playlist_id }}">{{ playlist.pl_name }} Tracks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body modal-{{ playlist.playlist_id }}">
                                        <ol></ol>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>

                <br>

                <!-- Track features options to filter by -->
                <div class="col-8 track-features align-self-center">
                    <h3>Track Features</h3>
                    <br>
                    BPM:
                    <select name="bpm">
                        <option value="None">None</option>
                        {% for bpm in bpm_range %}
                            <option value="{{ bpm }}">{{ bpm }}</option>
                        {% endfor %}
                    </select>

                    <br>

                    Mood:
                    <select name="valence">
                        {% for mood, valence in valence_dict.items() %}
                            <option value="{{ valence }}">{{ mood }}</option>
                        {% endfor %}
                    </select>

                    <br>

                    Key:
                    <select name="key">
                        <option value="None">None</option>
                        {% for key in keys %}
                            <option value="{{ key.key_id }}">{{ key.key_name }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>
{% endblock %}