{% extends 'base.html' %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h1>Playlists</h1>
    <form action="/sort-bpm" method="POST">
        {% for playlist in playlists %}
            <input type="checkbox" value="{{ playlist.playlist_id }}" name="playlist">
                <a href="/playlist/{{ playlist.playlist_id }}">{{ playlist.pl_name }}</a>
            </input>
            <br>
        {% endfor %}

        <br>

        BPM:
        <select name="bpm">
            <option value="None">None</option>
            {% for bpm in bpm_range %}
                <option value="{{ bpm }}">{{ bpm }}</option>
            {% endfor %}
        </select>

        <br>

        Mood:
        <select name="valence">
            {% for mood, valence in valence_dict.items() %}
                <option value="{{ valence }}">{{ mood }}</option>
            {% endfor %}
        </select>

        <br>

        Key:
        <select name="key">
            {% for key in keys %}
                <option value="{{ key.key_id }}">{{ key.key_name }}</option>
            {% endfor %}
        </select>

        <br><br>
        <input type="submit">
    </form>
{% endblock %}