{% extends 'base.html' %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h1>Playlists</h1>

    <form action="/new-playlist" method="post">

    {% for playlist in playlists %}
        <div class={{ playlist[0] }}> 
            <input type="checkbox" id="{{ playlist[0] }}">
                {{ playlist[1] }}
                <br>
                {% for tracks in tracks_by_playlists[playlist[0]] %}
                    {{ tracks.track_id }}
                {% endfor %}
            </input>
        </div>
    {% endfor %}

    <br>
    <input type="submit"></input>
    </form>
{% endblock %}