{% extends 'base.html' %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h1>Playlists</h1>

    <form action="/new-playlist" method="post">
        {% for playlist in playlists %}
            <div class={{ playlist[0] }}> 
                <input type="checkbox" id="{{ playlist[0] }}">
                    {{ playlist[1] }}
                </input>
                <br>
                {% for track in tracks_by_playlists[playlist[0]] %}
                    {{ track.track_id }}<br>
                {% endfor %}
                <div class="modal" id="{{ playlist[0] }}-modal">
                    {% for track in tracks_by_playlists[playlist[0]] %}
                        {{ track.track_id }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br>

        Key:
        <select>
            {% for key in keys %}
                <option value="{{ key.key_id }}">{{ key.key_name }}</option>
            {% endfor %}
        </select>

        Valence:
        <input type="checkbox" id="valence"></input>

        BPM:
        <select>
            {% for bpm in bpm_range %}
                <option value="{{ bpm }}">{{ bpm }}</option>
            {% endfor %}
        </select>

        <input type="submit"></input>
    </form>
{% endblock %}