{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="register-img"></div>
            <div class="col-12" align="center">
                <br><br><br><br><br><br><br><br>
                <span class="greeting">Register New User</span>
            </div>
            <br>
            <div class="col-12 reg-text" align="center">
                <form action="/register" method="POST">
                    <input type="text" name="user_id" id="user_id"/><br>
                    Username<br>
                    <input type="text" name="spotify_id" id="spotify_id"/><br>
                    Spotify Username<br>
                    <input type="password" name="password" id="password"/><br>
                    Password<br>
                    <input type="password" name="confirm_pass" id="confirm_pass"/><br>
                    Confirm Password<br>
                    <br>
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="col-12 reg-text" align="center">
                <form action="/">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
{% endblock %}