{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form action="/register" method="POST">
        Username: <input type="text" name="user_id" id="user_id"/><br>
        Spotify Username: <input type="text" name="spotify_id" id="spotify_id"><br>
        Password: <input type="password" name="password" id="password"/><br>
        Confirm Password:
        <input type="password" name="confirm_pass" id="confirm_pass"/><br>
        <input type="submit" value="Register">
    </form>
    <form action="/">
        <input type="submit" value="Login">
    </form>
{% endblock %}