{% extends 'base.html' %}
{% block title %}Qualifying Tracks{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" align="center">
                <h1>Qualifying Tracks From:</h1>
            </div>
            <div class="col-12" align="center">
                {% for playlist in playlists %}
                    <a href="/playlist/{{ playlist.playlist_id }}">{{ playlist.pl_name }}</a><br>
                {% endfor %}
                <br>
            </div>
        </div>

            <form action="/new-playlist" method="GET">
                <div class="form-group row">
                    {% if bpm != "None" %}
                        <div class="col-4">
                            <h3>Tracks By BPM: {{ bpm }}</h3>
                            {% for track in bpm_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name[0:25]+"..." }}</a>
                                    - {{ track.tempo }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    {% if bpm != "None" and valence_tracks != [] %}
                        <div class="col-4">
                            <h3>Tracks By BPM and Valence</h3>
                            {% for track in sorted_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name[0:25]+"..." }}</a>
                                    - {{ track.tempo }} - {{ track.valence }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    {% if valence_tracks != [] %}
                        <div class="col-4">
                            <h3>Tracks By Valence</h3>
                            {% for track in valence_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name[0:25]+"..." }}</a>
                                    - {{ track.valence }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    {% if keyname != "None" %}
                        <div class="col-4">
                            <h3>Tracks of Key: {{ keyname.key_name.replace("{", '').replace("}", '').replace(',', '/') }}</h3>
                            {% for track in key_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name[0:30]+"..." }}</a><br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>

                        <div class="col-4">
                            <h3>Tracks By Matching Keys</h3>
                            {% for track in matching_key_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name[0:30]+"..." }}</a>
                                    - {{ track.keys.key_name.replace("{", '').replace("}", '').replace(',', '/') }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}
                    <div class="col-12" align="center">
                        <input type="submit" value="Create New Playlist">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock%}