{% extends 'base.html' %}
{% block title %}Qualifying Tracks{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Display playlists queried from -->
            <div class="col-12" align="center">
                <br>
                <h1>Qualifying Tracks From:</h1>
            </div>
            <div class="col-12" align="center">
                {% for playlist in playlists %}
                    <a href="/playlist/{{ playlist.playlist_id }}">{{ playlist.pl_name }}</a><br>
                {% endfor %}
                <br>
                <h5>Select tracks to generate a new playlist.</h5><br>
            </div>
        </div>
            <form action="/new-playlist" method="GET">
                <div class="form-group row">
                    <!-- Display tracks of selected bpm -->
                    {% if bpm_tracks != [] %}
                        <div class="col-4">
                            <h4>Tracks of {{ bpm }} &plusmn; 3bpm</h4>
                            {% for track in bpm_tracks %}
                                <input type="checkbox" class="track" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                                    - {{ track.tempo | int }} - {{ track.keys.key_name.replace("{", '').replace("}", '').replace(',', '/') }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    <!-- Display tracks of selected bpm + valence -->
                    {% if bpm != "None" and valence_tracks != [] %}
                        <div class="col-4">
                            <h4>{{ mood }} Tracks of {{ bpm }} &plusmn; 3bpm</h4>
                            {% for track in sorted_tracks %}
                                <input type="checkbox" class="track-bx" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                                    - {{ track.tempo | int }} - {{ track.keys.key_name.replace("{", '').replace("}", '').replace(',', '/') }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    <!-- Display tracks of selected valence -->
                    {% if valence_tracks != [] %}
                        <div class="col-4">
                            <h4>{{ mood }} Tracks</h4>
                            {% for track in valence_tracks %}
                                <input type="checkbox" class="track-bx" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                                    - {{ track.tempo | int }} - {{ track.keys.key_name.replace("{", '').replace("}", '').replace(',', '/') }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}

                    <!-- Display tracks of selected key -->
                    {% if keyname != "None" %}
                        <div class="col-6">
                            <h4>Tracks of Key: {{ keyname.key_name.replace("{", '').replace("}", '').replace(',', '/') }}</h4>
                            {% for track in key_tracks %}
                                <input type="checkbox" class="track-bx" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                                    - {{ track.tempo | int }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>

                    <!-- Display tracks of matching keys -->
                        <div class="col-6">
                            <h4>Tracks By Matching Keys</h4>
                            {% for track in matching_key_tracks %}
                                <input type="checkbox" class="track-bx" value="{{ track.track_id }}" name="track">
                                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                                    - {{ track.tempo | int }} - {{ track.keys.key_name.replace("{", '').replace("}", '').replace(',', '/') }}<br>
                                </input>
                            {% endfor %}
                            <br>
                        </div>
                    {% endif %}
                    <div class="col-12" align="center">
                        <input id="make-pl" type="submit" value="Create New Playlist">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock%}