{% extends 'base.html' %}
{% block title %}BPM{% endblock %}
{% block content %}
    <h1>BPM: {{ bpm }}</h1>

    {% for playlist in playlists %}
        <h3>{{ playlist.pl_name }}</h3>
    {% endfor %}

    <br>

    <h3>Tracks By BPM</h3>
    {% for track in bpm_tracks %}
        <a href="/tracks/{{ track.track_id }}">{{ track.track_name }}</a> 
        - {{ track.tempo }}<br>
    {% endfor %}

    <br>

    <h3>Tracks By Valence</h3>
    {% for track in valence_tracks %}
        <a href="/tracks/{{ track.track_id }}">{{ track.track_name }}</a> 
        - {{ track.valence }}<br>
    {% endfor %}

    <br>

    {% if keyname != "None" %}
        <h3>Tracks of Key {{ keyname.key_name }}</h3>
        {% for track in key_tracks %}
            <a href="/tracks/{{ track.track_id }}">{{ track.track_name }}</a><br>
        {% endfor %}

        <br>

        <h3>Tracks By Matching Keys</h3>
        {% for track in matching_key_tracks %}
            <a href="/tracks/{{ track.track_id }}">{{ track.track_name }}</a>
            - {{ track.key }}<br>
        {% endfor %}

         <br>
    {% endif %}

    <h3>Tracks By BPM and Valence</h3>
    {% for track in sorted_tracks %}
        <a href="/tracks/{{ track.track_id }}">{{ track.track_name }}</a> 
        - {{ track.tempo }} - {{ track.valence }}<br>
    {% endfor %}

{% endblock%}