{% extends 'base.html' %}
{% block title %}Track Features{% endblock %}
{% block content %}

    <h1>{{track_fts.track_name}}</h1>
    <strong>Artist: </strong>{{ track_fts.artist }}<br>
    <strong>Duration: </strong>{{ track_fts.duration }}<br>
    <strong>BPM: </strong>{{ track_fts.tempo }}<br>
    <strong>Key: </strong>{{ track_fts.keys.key_name }}<br>
    <strong>Mode: </strong>{{ track_fts.mode }}<br>
    <strong>Danceability: </strong>{{ track_fts.danceability }}<br>
    <strong>Energy: </strong>{{ track_fts.energy }}<br>
    <strong>Instrumentalness: </strong>{{ track_fts.instrumentalness }}<br>
    <strong>Loudness: </strong>{{ track_fts.loudness }}<br>
    <strong>Speechiness: </strong>{{ track_fts.speechiness }}<br>
    <strong>Valence: </strong>{{ track_fts.valence }}<br>
{% endblock %}