{% extends 'base.html' %}
{% block title %}Tracks{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" align="center">
                <br>
                <h1><i class="fas fa-headphones-alt"></i> Your Tracks</h1>
                <h5>Every track in every playlist, ever.<h5>
            </div>
        </div>

        <!-- Separate tracks into three columns -->
        <div class="row">
            <div class="col-4">
                {% for track in tracks1 %}
                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                    <br>
                {% endfor %}
            </div>
            <div class="col-4">
                {% for track in tracks2 %}
                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                    <br>
                {% endfor %}
            </div>
            <div class="col-4">
                {% for track in tracks3 %}
                    <a href="/tracks/{{ track.track_id }}">{{ track.artist }} - {{ track.track_name }}</a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}